<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= wiki.site_name %> | User Dashboard</title>
    <link rel="stylesheet" href="/css/theme-global.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/theme-regular.css">
    <link rel="stylesheet" href="/css/md.css">
</head>
<body>
    <%- header %>
    <div id="main-content">
        <h1>User Dashboard</h1>
        <h3>Welcome, <b><%= user.display_name %></b>!</h3>
        <% if (user.role >= 100) { %>
            <a href="/admin/dashboard">Administrator dashboard</a><br>
            <small>Site Administrator Dashboard</small><br>
        <% } %>
        <a href="create-page">Create Page</a><br>
        <small>A simple create page, page.</small><br>
        <a href="upload-image">Upload Image</a><br>
        <small>Upload your photos :)</small><br>
        <a href="/api/docs">API Docs</a><br>
        <small>If your a developer, then u will know <3 </small><br>
        <a href="/api/v1/logout">Logout</a><br>
        <small>Log out of yo account son</small>
    </div>
</body>
</html>