<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | <%= wiki.site_name %></title>
    <link rel="stylesheet" href="/css/theme-global.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/theme-regular.css">
    <link rel="stylesheet" href="/css/md.css">
    <meta property="og:title" content="<%= title %> - <%= wiki.site_name %>">
    <meta name="description" content="<%= content.replace(/<[^>]*>/g, '') %>">
</head>
<body>
    <%- header %>
    <div id="main-content">
        <span id="title">
            <b><h1>
                <%= title %>
            </h1></b>
        </span>
        <%- content %>
    </div>
    <% if (user && user.role >= permission) { %>
        <div id="edit" style="width: 100%; margin:0 auto; text-align: center;">
            <a href="<%= page.url === '/' ? 'wiki/home/edit' : page.url + '/edit' %>">Modify this wikipage</a>
        </div>
    <% } %>
</body>
</html>