body div#main-content {
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  body div#main-content {
    max-width: 92%;
    padding: 1rem;
    margin: 0.5rem auto;
  }
}
