<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= wiki.site_name %> | Admin Dashboard</title>
    <link rel="stylesheet" href="/css/theme-global.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/theme-regular.css">
    <link rel="stylesheet" href="/css/md.css">
</head>
<body>
    <%- header %>
    <div id="main-content">
        <h1>Admin Dashboard</h1>
        <h3>Welcome, <b><%= user.display_name %></b>!</h3>
        <a href="/wikian/dashboard">Regular dashboard</a><br>
        <small>Default Dashboard</small><br>
        <a href="applications">Applications</a><br>
        <small>User applications for registration</small><br>
        <a href="users">User actions</a><br>
        <small>User moderation actions</small><br>
        <a href="wiki">Wiki settings</a><br>
        <small>Global wiki settings</small><br>
        <a href="articles">Article actions</a><br>
        <small>Invidual wiki article actions</small><br>
        <a href="logs">Logs</a><br>
        <small>I didnt forget logs, you did</small><br>
        <form action="/api/v1/server/shutdown" method="POST" style="display: inline;">
            <button type="submit">Server Shutdown</button>
        </form><br>
        <small>Uh, yeah</small><br>
    </div>
</body>
</html>