<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= wiki.site_name %> | Admin Dashboard</title>
    <link rel="stylesheet" href="/css/theme-global.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/theme-regular.css">
    <link rel="stylesheet" href="/css/md.css">
    <script src="/js/notifications.js"></script>
</head>
<body>
    <%- header %>
    <div id="main-content">
        <h1>User's</h1>
        <table>
            <tr>
                <th>Display Name</th>
                <th>Username</th>
                <th>Role</th>
                <th>Email</th>
                <th>Creation Date</th>
                <th>Actions</th>
            </tr>
            <tr>
                <th>admin</th>
                <th>admin</th>
                <th>100</th>
                <th>austin@null-austin.me</th>
                <th>1010101</th>
                <th>something here</th>
            </tr>
        </table>
    </div>
</body>
</html>